body {
    background-color: #F4FFF8;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

hr {
    width: 40rem;
    background-color: black;
    height: 0.1rem;
    border: none;
}

a {
    text-decoration: none; 
    color: #d4af37; 
}

body::-webkit-scrollbar {
    display: none;
}

.full-chat-block::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    
    a {
        padding: 8px;
    }

    &__button {
        background-color: transparent;
        color: white;

        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 600px) {
            display: none;
        }

        >ul {
            display: flex;
            gap: 1rem;
            list-style: none;
            padding-top: 1rem;

            >li {
                >a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-size: 1rem;
                    font-weight: 600;                    
                    &:hover {
                        color: #d4af37;
                    }
                }
            }
        }

        &--show {
            display: block;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            margin: 10px;   
            border-style: solid;
            border-width: 1px;
            border-color: black;

            >ul {
                flex-direction: column;
                gap: 0.5rem;
                padding: 1rem 0;
                margin: 10px;
            }

        }
    }
}

footer {
    padding: 1rem;
    background-color: #0A4D68;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 1;
}

.logo {
    width: auto;
    height: 2.8rem;
    display: block;
}

.indexhero {
    color:  black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 1;
}

.login {
    background-color: #0A4D68;
    color: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);   
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 600px) {
        width: 90%;
    }
}

.register {
    background-color: #0A4D68;
    color: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);   
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    @media (max-width: 600px) {
        width: 90%;
    }
}

.profile {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
}

.password {
    margin-bottom: 0.6rem   ;
}

.logform {
    display: flex;
    flex-direction: column;
}

.startpage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 1;
}

.startpage__button {
    background-color: #0A4D68;
    &:hover {
        background-color: #127faa;
    }
    color: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    width: 100%;
    max-width: 25rem;
    margin: 0.625rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); 
    @media (max-width: 600px) {
        width: 90%;
    }
}

.startpage_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: auto;
    z-index: 1;
    flex-wrap: wrap;
}

.reflectedxss {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 1;
    width: min(120ch, 100vw);
    margin-left: auto;
    margin-right: auto;
}

.storedxss {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 1;
    width: min(120ch, 100vw);
    margin-left: auto;
    margin-right: auto;
}

.reflectedxsstest {
    width: min(120ch, 100vw);
    margin: 10rem;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.landingpage {
    background-image: url('/images/triangles.svg');
}

.rest{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

input[type="text"] {
   padding: 5px;
   font-size: 16px;
}

.button-64 {
   align-items: center;
   background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
   border: none;
   border-radius: 8px;
   box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
   box-sizing: border-box;
   color: #FFFFFF;
   display: flex;
   font-family: Phantomsans, sans-serif;
   font-size: 20px;
   justify-content: center;
   line-height: 1em;
   max-width: 100%;
   min-width: 140px;
   padding: 3px;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   cursor: pointer;
   margin-top: 10px;
   position: relative;
   overflow: hidden;
}

.button-64:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
   border-radius: 8px;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.button-64:hover:before {
   opacity: 1;
}

.button-64 span {
   position: relative;
   z-index: 1;
   transition: 0.3s;
   padding: 10px;
   border-radius: 6px;
   background-color: #333;
}

.button-64:hover span {
   background-color: transparent;
}

.message {
   margin-bottom: 10px;
}

.explanation {
   opacity: 0;
   transition: opacity 0.5s ease;
   text-align: center;
   line-height: 1.5;
   max-width: 500px;
   margin-bottom: 20px;
   color: #666;
   height: 0;
   overflow: hidden;
}

.explanation.show {
   opacity: 1;
   height: auto;
   padding: 20px;
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }

    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .collapsible {
        width: 100%;
    }

    .supportlogo {
        width: 100%;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .hero {
        width: 100%;
    }

    hr {
        width: 100%;
    }

    .navbar a {
        padding: 0px;
    }

    .startpage {
        display: flex;
        padding: 1rem;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: auto;
        z-index: 1;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .storedxss {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        position: relative;
        bottom: 0;
        margin-top: auto;
        z-index: 1;
        width: min(120ch, 100vw);
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }
}

