{% extends "layout.njk" %}
{% block content %}

<body class="landingpage">    
    <div class="indexhero"> 
        <h1>Welcome to the XSS Experinece</h1>
        <hr>
        <p>This website will show you what XSS is and how it's used</p>
        <p>How about creating a account so you can save your progress and flex with your achievements</p>
    </div>
</body>




{% endblock %}