{% extends "layout.njk" %}
{% block content %}

<body class="landingpage">
    
</body>

<div class="indexhero"> 
    <h1>Welcome to the XSS Experinece</h1>
    <hr>    
    <p>Here you can learn about XSS and how to prevent it.</p>
    <p>How about creating a account so you can save your progress and flex with your achievements</p>
</div>



{% endblock %}