<nav class="navbar container">
    <a href="/" class="logo"><img src="/images/logo.png" alt="Logo" class="logo"></a>
    <button class="navbar__button" onclick="changeImage()"><img src="/images/menuicon.svg" alt="icon" class="menuicon" id="logochange"></button>
    <div class="navbar__collapse">
        <ul class="menu">
                {% if user %}
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/begin">Begin</a></li>
                {% else %}
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
