{% extends "layout.njk" %}
{% block  content %}
<main class="storedxss">
    <div class="storedpagetext">
        <h1>Reflected XSS</h1>
        <p>
            Reflected xss is a type of XSS where the malicious code is reflected off the server and is executed when the victim visits the page.
            Reflected xss is also known as Persistent XSS.
            Reflected xss is more dangerous than Reflected XSS because the malicious code is reflected off the server and can be executed multiple times.
            Reflected xss is also more difficult to detect than Reflected XSS.
            Reflected xss can be used to steal cookies, session tokens, or other sensitive information, carry out phishing attacks, or perform drive-by-downloads.
            Reflected xss can be prevented by sanitizing user input and encoding output.
        </p>
    </div>
<a href="/reflectedxsstest" class="startpage__button">Time for testing!</a>
</main>
{% endblock %}