{% extends "layout.njk" %}
{% block  content %}
<main class="storedxss">
    <div class="storedpagetext">
        <h1>Stored XSS</h1> 
        <p>Stored XSS is a type of XSS where the malicious code is stored on the server and is executed when the victim visits the page. It's also known as Persistent XSS</p>
        <p>Stored XSS is more dangerous than Reflected XSS because the malicious code is stored on the server and can be executed multiple times. It's is also more difficult to detect than Reflected XSS</p>
        <p>Stored XSS can be used to steal cookies, session tokens, or other sensitive information, carry out phishing attacks, or perform drive-by-downloads.</p>
        <p>Stored XSS can be prevented by sanitizing user input and encoding output.</p>
    </div>
    <a href="/storedxsstest" class="startpage__button">Time for testing!</a>
</main>
{% endblock %}