{% extends "layout.njk" %}
{% block  content %}
<main class="storedxsstest">
    <h1>Welcome to the testing phase of stored xss</h1>

    <p>Enter a comment in the input field below and click submit. The comment will be stored in the database and displayed on the page.</p>
    <form action="/storedxsstest" method="POST">
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment" placeholder="Enter comment here">
        <input type="submit" value="Submit">
    </form>

    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
        <li>{{ comment }}</li>
        {% endfor %}
    </ul>

    <p>Here is an example of a stored xss attack:</p>
    <p><a href="/storedxsstest?comment=%3Cscript%3Ealert(%27XSS%27)%3C/script%3E">/storedxsstest?comment=&lt;script&gt;alert('XSS')&lt;/script&gt;</a></p>
    <p>When the comment is displayed on the page, the script will be executed.</p>


</main>
{% endblock %}